@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan : hsl(179, 62%, 43%);
    --bright-yello : hsl(71, 73%, 54%);
    --light-gray : hsl(204, 43%, 93%);
    --grayish-blue : hsl(218, 22%, 67%);
}

body {
    font-family: 'Karla', sans-serif;  
    background-color: var(--light-gray) ;
    padding: 0 16px;
}

h3,p {
    letter-spacing: -0.01em;
    line-height: 24px;
}

h3 {
    margin-bottom: 24px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    max-width: 635px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 8px 7px 49px rgb(0 0 0 / 15%);
}

.card {
    padding: 38px 40px;
}

.card-one {
    grid-column: 1/-1;
    background-color: white;
}

.card-one h2{
    margin-bottom: 30px;
    color: var(--cyan);
}

.card-one h3 {
    color: var(--bright-yello);
}

.card-one  p{
    opacity: 0.5;
}

.card-two {
    background-color: var(--cyan);
    color: white;
}

.card-two .price-info h1 {
    margin-right: 16px;
}

.card-two .price-info {
    display: flex;
    align-items: center;
}

.card-two .price-info {
    margin-bottom: 16px;
}

.card-two p{
    margin-bottom: 30px;
    opacity: 0.7;
}

.card-two .price-info>p{
    margin: 0;
    opacity: 0.5;
}

.card-two button {
    font-weight: 700;
    font-size: 16px;
    display: block;
    width: 100%;
    background-color: var(--bright-yello);
    color: white;
    border: none;
    outline: none;
    padding: 16px 0;
    border-radius: 4px;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}

.card-three {
    background-color: var(--cyan);
    opacity: 0.8;
    color: white;
}

.card-three p{
    opacity : 0.7;
}

@media screen and (max-width:560px) {
    .card {
        padding: 30px 20px;
    }
    .grid-container {
        grid-template-columns: 1fr;
        margin: 32px 0;
    }
    .container {
        height: auto;
        display: block;
    }
}